<!DOCTYPE html>
<html>
  <head>
    <title>stage</title>
    <link rel='stylesheet' href='/stylesheets/style_index.css' />
  </head>
  <body>
    <h1>login</h1>
    <form action="/check" method="post">
    <div>
      username <input type="text" name="username">
    </div>
    <div>
      password &nbsp;<input type="text" name="password">
    </div>
      <button>login</button>
    </form>
  </body>
</html>
